doctype html
html(lang='ru')
	head
		meta(charset="UTF-8")
		title Title
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		//Google Fonts Link
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic-ext" rel="stylesheet")


	
		// build:css css/main.css
		link(rel="stylesheet" href="css/main.css")
		//- link(rel="stylesheet" href="css/fonts.css")
		//- link(rel="stylesheet" href="css/media.css")
		// endbuild

		//build:js js/jquery.js
		// bower:js
		script(src="bower_components/jquery/dist/jquery.js")
		// endbower
		// endbuild

		// build:js js/main.min.js
		script(type="text/javascript" src="js/main.js")
		// endbuild

	body

